<h1>New user</h1>

<%= form_with model: @user do |f| %>
    <% if @user.errors.any? %>
        <div>
            <% @user.errors.full_messages.each do |message| %>
                <%= message %><br>
            <% end %>
        </div>
    <% end %>
    <br>
    <div>
        <%= f.label :username %><br>
        <%= f.text_field :username %>
    </div>
    <div>
        <%= f.label :email %><br>
        <%= f.text_field :email %>
    <div>
        <%= f.label :password %><br>
        <%= f.password_field :password %>
    </div>
    <div>
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation %>
    </div>
    <p>
        <%= f.submit %>
    </p>
<% end %>